@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15;
    height: 60px;
}

.left {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

.left #logo {
    margin-right: 20px;
}

.center {
    align-items: center;
    display: flex;
}

.search {
    display: flex;
}

.search form {
    display: flex;
    border: 1px solid #ddd;
    height: 45px;
}

.search input {
    width: 550px;
    border: 0;
    border-radius: 2px 0 0 2px;
    padding: 15px;
    font-size: 15px;
}

input:focus {
    border: 1px solid #ddd;
    outline: none;
}

.search button {
    width: 60px;
}

#mic {
    margin: 10px;
}

.material-icons {
    color: rgb(100, 100, 100);
    padding: 0 7px;
    cursor: pointer;
}

.right {
    margin-right: 20px;
}

.main {
    display: flex;
    padding-top: 30px;
    height: calc(100vh - 60px);
    background-color: #f9f9f9;
}

.content {
    display: block;
    height: 100%;
    width: 70%;
    margin-left: 130px;
}

.first-content {
    display: flex;
}

iframe {
    height: 700px;
    width: 100%;
}

.sidebar {
    height: 100%;
    width: 30%;
}

.videos {
    display: block;
    padding-left: 20px;
}

.video {
    display: flex;
    width: 400px;
    margin-bottom: 5px;
}

.thumbnail {
    width: 60%;
}

.thumbnail img {
    object-fit: cover;
    height: 94%;
    width: 100%;
}

.details {
    display: flex;
    margin-left: 5px;
}

.title {
    display: flex;
    flex-direction: column;
}

.title h3 {
    color: rgb(3, 3, 3);
    line-height: 22px;
    font-size: 16px;
    margin-bottom: 6px;
    padding: 2px 0;
}

.author img {
    object-fit: cover;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.title a,
span {
    text-decoration: none;
    color: rgb(96, 96, 96);
    font-size: 14px;
    padding: 2px 0;
}

.video_name {
    margin-top: 15px;
}

.account {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
}

.account .details {
    margin-top: 12px;
}

.details a {
    font-weight: bolder;
    font-size: 16px;
}

.account button {
    background-color: red;
    padding: 10px 15px;
    border: none;
    color: white;
}

.reactions {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px;
}

.content hr {
    width: 90%;
    width: auto;
    height: 1px solid #333;
}

.comment {
    display: block;
    width: 100%;
}

.comment-stats {
    display: flex;
    align-items: center;
    width: 200px;
}

.comment .details {
    width: 150px;
    margin-top: 20px;
}

.comment .title {
    font-weight: 100;
}

.submitted-comments {
    display: flex;
    align-items: center;
}

.comment input {
    width: 1000px;
    border: none;
    border-bottom: 1px solid #333;
    padding: 5px;
    margin-top: 8px;
}